/*
 * SPDX-License-Identifier: MIT
 */

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <300>;
    quick-tap-ms = <180>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_lpar {
            bindings = <&kp LPAR>;
            key-positions = <2 3>;
        };

        combo_rpar {
            bindings = <&kp RPAR>;
            key-positions = <6 7>;
        };

        combo_mclk {
            bindings = <&mkp MCLK>;
            key-positions = <19 18>;
        };

        combo_lclk {
            bindings = <&mkp LCLK>;
            key-positions = <29 17>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        combo_rclk {
            bindings = <&mkp RCLK>;
            key-positions = <18 30>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        combo_bspc {
            bindings = <&kp BSPC>;
            key-positions = <8 9>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        combo_prev {
            bindings = <&mkp MB4>;
            key-positions = <16 28>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        combo_next {
            bindings = <&mkp MB5>;
            key-positions = <15 27>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        combo_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <20 10>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_cut {
            bindings = <&kp LC(X)>;
            key-positions = <21 11>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_copy {
            bindings = <&kp LC(C)>;
            key-positions = <22 12>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_paste {
            bindings = <&kp LC(V)>;
            key-positions = <23 13>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <19 31>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_fnc {
            bindings = <&mo 3>;
            key-positions = <38 39>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_rctrl {
            bindings = <&kp LCTRL>;
            key-positions = <6 16>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_rshft {
            bindings = <&kp RSHFT>;
            key-positions = <17 7>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_lctrl {
            bindings = <&kp LCTRL>;
            key-positions = <3 13>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_lshft {
            bindings = <&kp LSHFT>;
            key-positions = <2 12>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_lalt {
            bindings = <&kp LALT>;
            key-positions = <1 11>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_lwin {
            bindings = <&kp LWIN>;
            key-positions = <10 0>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_ralt {
            bindings = <&kp LALT>;
            key-positions = <8 18>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_rwin {
            bindings = <&kp RWIN>;
            key-positions = <9 19>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_lang {
            bindings = <&kp RALT>;
            key-positions = <18 16>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_hanja {
            bindings = <&kp RCTRL>;
            key-positions = <17 19>;
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
        };

        combo_rb {
            bindings = <&kp B>;
            key-positions = <27 28>;
            timeout-ms = <50>;
            require-prior-idle-ms = <60>;
            layers = <0>;
        };
    };

    behaviors {
        hmr: homerow_right_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_RIGHT_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 14 24 0 1 3 10 11 12 13 21 22 23 20 35 36 37 38 39>;
        };

        hml: homerow_left_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LEFT_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 27 28 29 30 31 35 36 37 38 39>;
        };

        sk_shft: sk_shft {
            compatible = "zmk,behavior-sticky-key";
            label = "SK_SHFT";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };

        magic_shft_tap: magic_shft_tap {
            compatible = "zmk,behavior-mod-morph";
            label = "MAGIC_SHFT_TAP";
            bindings = <&sk_shft LSHFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        magic_shft: magic_shft {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_SHFT";
            bindings = <&kp>, <&magic_shft_tap>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W     &kp E     &kp R       &kp T                                               &kp Y        &kp U  &kp I         &kp O       &kp P
&kp A      &kp S     &kp D     &kp F       &kp G                                               &kp H        &kp J  &kp K         &kp L       &kp SEMI
&kp Z      &kp X     &kp C     &kp V       &kp B        &mo 5             &lt 2 B              &kp N        &kp M  &ltq 5 COMMA  &ltq 5 DOT  &ltq 5 SLASH
&kp LCTRL  &kp LGUI  &kp LALT  &ltq 3 TAB  &ltq 1 BSPC  &ltq 2 ENTER      &magic_shft LSHFT 0  &lt 1 SPACE                       &kp LALT    &kp LCTRL
            >;

            display-name = "BASE";
        };

        num_layer {
            bindings = <
&kp GRAVE  &kp HOME  &kp END   &kp BSPC   &kp DEL                              &kp MINUS  &kp N7  &kp N8  &kp N9  &kp ASTRK
&kp ENTER  &kp LEFT  &kp UP    &kp RIGHT  &kp PG_UP                            &kp PLUS   &kp N4  &kp N5  &kp N6  &kp SQT
&trans     &kp LBKT  &kp DOWN  &kp RBKT   &kp PG_DN  &kp SPACE      &kp EQUAL  &kp COMMA  &kp N1  &kp N2  &kp N3  &trans
&trans     &trans    &trans    &trans     &kp N0     &trans         &kp DOT    &kp N0                     &trans  &trans
            >;

            display-name = "NUM";
        };

        sym_layer {
            bindings = <
&kp TILDE  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp K_MUTE                        &kp UNDER  &kp AMPS  &kp ASTRK  &kp BSPC   &kp DEL
&kp CAPS   &kp LEFT    &kp UP            &kp RIGHT   &kp C_VOL_UP                      &kp BSLH   &kp DLLR  &kp PRCNT  &kp CARET  &kp DQT
&trans     &kp LBRC    &kp DOWN          &kp RBRC    &kp C_VOL_DN  &trans      &trans  &kp PIPE   &kp EXCL  &kp AT     &kp HASH   &trans
&trans     &trans      &trans            &trans      &trans        &trans      &trans  &trans                          &trans     &trans
            >;

            display-name = "SYM";
        };

        fnc_layer {
            bindings = <
&kp ESC    &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &kp INS                                  &kp LC(Y)  &kp F7  &kp F8  &kp F9  &kp F12
&kp LC(A)  &kp LC(S)        &trans          &msc SCRL_DOWN   &msc SCRL_UP                             &kp HOME   &kp F4  &kp F5  &kp F6  &kp F11
&kp LC(Z)  &kp LC(X)        &kp LC(C)       &kp LC(V)        &kp LC(B)     &kp LC(LS(Z))      &trans  &kp END    &kp F1  &kp F2  &kp F3  &kp F10
&trans     &trans           &trans          &trans           &trans        &trans             &trans  &trans                     &trans  &trans
            >;

            display-name = "FNC";
        };

        sys_layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &bt BT_CLR  &bt BT_CLR_ALL  &trans  &trans      &trans
&trans        &trans        &trans        &trans        &trans                            &trans      &trans          &trans  &trans      &trans
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &trans      &trans          &trans  &trans      &trans
&bootloader   &sys_reset    &trans        &trans        &trans        &trans      &trans  &trans                              &sys_reset  &bootloader
            >;

            display-name = "SYS";
        };

        scr_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                  &trans  &trans
            >;

            label = "SCR";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        SYS_LAYER {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
